@charset "UTF-8";

h1{
    color: #8dcf31;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.button1{
    font-size: 15px;
    background-color: #8dcf31;
    color: white;
    font-weight: bold;
    border-color: #ccff00;
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    width: 130px;
    border-radius: 6px;
}

.button2{
    font-size: 15px;
    background-color: white;
    color: #8dcf31;
    font-weight: bold;
    border-color: #ccff00;
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    width: 130px;
    border-radius: 6px;
}

.div_menu_index{
    height: 500px;
    width: 320px;
    margin-left: 50px; 
    margin-bottom: 50px;
    margin-top: 40px;
}

main{
    background-color: #fff9f9;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(109, 136, 135);
    width: 1000px;
    padding: 10px;
    margin: auto;
}

p{
    font-weight: bold;
}

input{
    height: 30px;
    width: 350px;
    border-color: #ccff00;
    border-radius: 6px;
}

